################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEFCoreApp/.vs/DbOperationsWithEFCoreApp/FileContentIndex/a8979dbe-ae72-4dd9-a2e3-59d43325056b.vsidx
